.btn {
  box-sizing: border-box;
  color: white;
  background-color: rgba(116, 116, 117, 0.5);
  text-align: center;
  border-radius: 8px;
  padding: 0.9rem;
  width: 100%;
  height: fit-content;
  transition: ease 500ms;
  align-self: flex-end;
  border: none;
}
.btn-active {
  background-color: rgba(49, 205, 99, 1);
  cursor: pointer;
}

.btn-active-secondary {
  background-color: orange;
}
