.container {
  align-self: center;
  text-align: center;
}

.score {
  font-size: 4em;
  color: #45c486;
  margin: 2.4rem 0rem;
}

.finish {
  font-weight: bold;
  font-size: 1.2rem;
  color: rgba(25, 29, 99, 1);
  margin: 0.5rem;
}
