.container {
  align-self: center;
  text-align: center;
}

.score {
  font-size: 4em;

  margin: 2.4rem 0rem;
}

.score-primary {
  color: #45c486;
}

.score-secondary {
  color: orange;
}

.finish {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.5rem;
}

.finish-primary {
  color: rgba(25, 29, 99, 1);
}

.finish-secondary {
  color: rgb(39, 186, 39);
}

.finish-tertiary {
  color: rgb(39, 186, 39);
}
