.question {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
  align-items: center;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 8px;
  transition: ease 200ms;
  cursor: pointer;
}

.question-primary:hover {
  background-color: #45c486;
  border: 1px solid #45c486;
}

.question-secondary:hover {
  background-color: #c48d45;
  border: 1px solid #c48d45;
}

.question-tertiary:hover {
  background-color: purple;
  border: 1px solid purple;
}

.option {
  border-radius: 50%;
  background-color: rgba(237, 232, 227, 1);
  padding: 3px 10px;
}

.option-secondary,
.option-tertiary {
  color: #000;
}

.selected-primary {
  background-color: #45c486;
}

.selected-secondary {
  background-color: #c48d45;
}

.selected-tertiary {
  background-color: purple;
}
