.container {
  box-sizing: border-box;
  background-color: #f4f3f6;
  display: grid;
  place-content: repeat(4fr) / 1fr;
  padding: 3.5rem 6rem;
  width: 40vw;
  height: 80vh;
}

.question-container {
  grid-row: 2 / span 2;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.title {
  margin: 10px 0;
  font-size: 1.3em;
  color: rgba(25, 29, 99, 1);
}

@media screen and (max-width: 1200px) {
  .container {
    width: 50vw;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 70vw;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90vw;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 1.3rem 3rem;
    width: 95vw;
  }
}
